.hero {
    position: relative;
    min-height: 766px;
}

.leftLightBlueSphere {
    position: absolute;
    left: 239px;
    top: 120px;
    width: 52.57px;
    height: 52.57px;
}

.leftEllipse {
    position: absolute;
    width: 149px;
    height: 183px;
    left: 2px;
    bottom: 41px;
    box-sizing: border-box;
}

.leftWave {
    position: absolute;
    left: 63px;
    bottom: 95px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 171px;
    height: 63px;
}

.cylinder {
    position: absolute;
    right: 574.97px;
    top: 92px;
}

.goToMarket {
    position: absolute;
    right: 305.18px;
    top: 111px;
    z-index: 1;
}

.rightBlueWave {
    position: absolute;
    right: 757px;
    top: 428px;
}

.rightWave {
    position: absolute;
    right: 227px;
    top: 275px;
    z-index: 2;
}

.rightLightBlueSphere {
    position: absolute;
    right: 249px;
    top: 413px;
}

.purpleSphere {
    position: absolute;
   right: 171px;
    top: 364px;
}

.pinkCylinder {
    position: absolute;
    right: 273px;
    bottom: 106px;
}

.rightEllipse {
    position: absolute;
    right: 0px;
    top: 82px;
    z-index: -10;
}

.hero_heading {
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #484848;
    margin-bottom: 20px;
}

.hero_content {
    position: absolute;
    left: 375px;
    top: 171px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 838px;
}

.hero_description {
    margin-bottom: 58px;
}

.hero_button {
    padding: 23px 92px;
}

/* ------------------------------------ Media rules 1440 - 1920 -------------------------------------------------*/
@media screen and (min-width:1440px) and (max-width:1919.5px) {
    .leftLightBlueSphere {
        width: 42.57px;
        height: 42.57px;
    }

    .goToMarket {
        width: 450px;
        height: 470px;
        right: 105.18px;
    }
    .cylinder {
        right: 295.97px;
    }
    .rightBlueWave {
        top: 350px;
        right: 400px;
    }
    .rightWave {
        right: 0px;
        top: 200px;
    }
    .rightLightBlueSphere {
        right: 49px;
        top: 343px;
        width: 43px;
        height: 43px;
    }
    .purpleSphere {
        right: 0px;
        top: 310px;
        width: 27px;
        height: 27px;
    }
    .pinkCylinder {
        right: 73px;
        bottom: 206px;
        width: 151px;
        height: 83px;
    }
    .rightEllipse {
        width: 500px;
        height: 458px;
    }
}