.hero {
    position: relative;
    min-height: 766px;
}
.leftLightBlueSphere{
    position: absolute;
left: 234px;
top: 171px;
width: 52.57px ;
height: 52.57px;
}
.leftEllipse{
    position: absolute;
width: 149px;
height: 183px;
left: -2px;
top: 637px;
box-sizing: border-box;
}
.leftWave {
    position: absolute;
    left: 65px;
    top: 703px;
transform: matrix(-1, 0, 0, 1, 0, 0);
width: 171px;
height: 63px;
}
.cylinder{
    position: absolute;
    left: 1231px;
    top: 187px;
}
.goToMarket {
    position: absolute;
    left: 994px;
    top: 200px;
    z-index: 1;
}
.rightBlueWave{
    position: absolute;
    left: 973px;
    top: 523px;
}
.rightWave {
    position: absolute;
    left: 1471px;
    top: 370px;
    z-index: 2;
}
.rightLightBlueSphere {
    position: absolute;
    left: 1612px;
    top: 508px;
}

.purpleSphere {
    position: absolute;
    left: 1712px;
    top: 459px;
}
.pinkCylinder {
    position: absolute;
    left: 1486px;
    top: 672px;
}
.rightEllipse {
    position: absolute;
    left: 1310.5px;
    top: 177px;
    z-index: -10;
}

.hero_heading {
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 125%;
color: #484848;
margin-bottom: 20px;
}
.hero_content {
    position: absolute;
    left: 375px;
    top: 171px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 838px;
}
.hero_description {
    margin-bottom: 58px;
}
.hero_button {
    padding: 23px 92px;
}