.item_card {
    width: 563px;
    height: 447px;
    position: relative;
}
.card_overlay {
    position: absolute;
    background: #67AEFC;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 15px;
}
.item_card:hover .card_overlay {
    opacity: 1;
}
.examples_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: -30px;
    margin-top: -30px;
}
.examples_item {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin-left: 30px;
    margin-top: 37.5px;
}
.examples {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.examples_heading {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 800;
font-size: 32px;
line-height: 125%;
}
.container {
    background-color: #DAECFF;
    padding-top: 121px;
    padding-bottom: 121px;
    position: relative;
}
.pinkWave {
    position: absolute;
    left: 23px;
    top:301px;
}
.whiteSphere {
    position: absolute;
    bottom: 245px;
    right: 123px;
    width: 108px;
    height: 108px;
}
/* ------------------------------------ Media rules 1440 - 1920 -------------------------------------------------*/
@media screen and (min-width:1440px) and (max-width:1919.5px) {
    .pinkWave {
        left:23px;
        top:1px;
    }
    .whiteSphere {
        right: 25px;
        bottom: 50px;
        width: 78px;
        height: 78px;
    }
}
/* ------------------------------------ Media rules 1024 - 1440 -------------------------------------------------*/
@media screen and (min-width:1024px) and (max-width:1439.5px) {
    .examples_list {
        justify-content: center;
    }
    .pinkWave {
        top: 1px;
    }
    .whiteSphere {
        bottom: 80px;
        width: 68px;
        height: 68px;
    }
}
/* ------------------------------------ Media rules 768 - 1024 -------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023.5px) {
    .examples_list {
        justify-content: center;
    }
    .pinkWave {
        display: none;
    }
    .whiteSphere {
        display: none;
    }
    .container {
        padding-top: 20px;
    }
    .slider_examples {
        padding-left: 110px;
    }
    .card_overlay {
        width: 563px;
        height: 447px;
    }
}