.container {
    background-color: #67AEFC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0px;
    color: #FFFFFF;
}
/* ------------------------------------ Media rules 768 - 1024 -------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023.5px) {
    .container {
        flex-direction: column;
    }
}