.lightBlueSphere_big {
    position: absolute;
    left: 153px;
    top: 150px;
}

.clocks {
    position: absolute;
    top: 214.65px;
    right: 625.62px;
}

.purpleWave {
    position: absolute;
    bottom: 178.43px;
    right: 662.33px;
    z-index: 2;
}

.order {
    position: absolute;
    bottom: 104px;
    right: 309.69px;
}

.pinkCylinder {
    position: absolute;
    z-index: 1;
    bottom: 153px;
    right: 256px;
}

.taper {
    position: absolute;
    bottom: 274.13px;
    right: 144.5px;
}

.lightBlueSphere_small {
    position: absolute;
    top: 150px;
    right: 382.80px;
}

.pinkSphere {
    position: absolute;
    top: 137px;
    right: 312px;
}

.container {
    position: relative;
    min-height: 724px;
    display: flex;
    align-items: center;
}

.moreInfo_text {
    max-width: 670px;
    margin-left: 377.8px;
}

.moreInfo_heading {
    margin-bottom: 53px;
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
}

.moreInfo_description {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 45px;
}

.moreInfo_button {
    padding: 22px 56px;
}

/* ------------------------------------ Media rules 1440 - 1920 -------------------------------------------------*/
@media screen and (min-width:1440px) and (max-width:1919.5px) {
    .moreInfo_text {
        margin-left: 140px;
    }

    .taper {
        right: 4.5px;
    }

    .clocks {
        right: 485.62px;
    }

    .purpleWave {
        right: 522.33px;
    }

    .order {
        right: 179.69px;
    }

    .pinkCylinder {
        right: 116px;
    }

    .lightBlueSphere_small {
        right: 142.80px;
    }

    .pinkSphere {
        right: 172px;
    }

    .lightBlueSphere_big {
        left: 60px;
        top: 100px;
    }

}

/* ------------------------------------ Media rules 1024 - 1440 -------------------------------------------------*/
@media screen and (min-width:1024px) and (max-width:1439.5px) {
    .container {
        align-items: flex-end;
        justify-content: center;
    }

    .moreInfo_text {
        margin: 0;
        margin-bottom: 30px;
    }

    .moreInfo_heading {
        margin-bottom: 23px;
    }

    .taper {
        bottom: 374.13px;
    }

    .clocks {
        top: 64px;
    }

    .purpleWave {
        top: 264px;
    }

    .order {
        bottom: 324px;
    }

    .pinkCylinder {
        top: 164px;
    }

    .lightBlueSphere_small {
        top: 5px;
    }

    .pinkSphere {
        top: 37px;
    }

    .lightBlueSphere_big {
        left: 30px;
        top: 50px;
    }
}

/* ------------------------------------ Media rules 768 - 1024 -------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023.5px) {
    .clocks {
        left: 30px;
        width: 109px;
        height: 117px;
        top: 190px;
    }

    .lightBlueSphere_big {
        left: 60px;
        top: 70px;
    }

    .order {
        right: 400px;
        bottom: 254px;
        width: 311px;
        height: 281px;
    }

    .taper {
        display: none;
    }

    .purpleWave {
        bottom: 328px;
        right: 0;
        left: 0;
        width: 151px;
        height: 53px;
    }

    .pinkCylinder {
        bottom: 253px;
        right: 400px;
        width: 200px;
        height: 80px;
    }

    .lightBlueSphere_small {
        right: 480px;
        top: 160px;
    }

    .pinkSphere {
        right: 412px;
    }
}

/* ------------------------------------ Media rules 320 - 768 -------------------------------------------------*/
@media screen and (min-width:320px) and (max-width:767.5px) {
    .moreInfo_heading {
        margin-top: 43px;
        margin-bottom: 27px;
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        line-height: 150%;
        text-align: center;
        max-width: 370px;
    }

    .container {
        display: block;
    }

    .moreInfo_text {
        margin: 0;
        max-width: 335px;
        margin-top: 238px;
        display: flex;
        align-items: stretch;
        padding-right: 20px;
        padding-left: 20px;
        flex-direction: column;
    }

    .moreInfo_description {
        font-weight: 400;
        font-size: 17px;
        line-height: 175%;
    }

    .order {
        width: 190.35px;
        height: 176.42px;
        top: 93.57px;
        bottom: 0px;
        right: 87.93px;
    }

    .clocks {
        width: 48.67px;
        height: 51.58px;
        top: 117.25px;
        left: 83.99px;
    }

    .purpleWave {
        width: 64.69px;
        height: 31.44px;
        left: 54.14px;
        top: 210.47px;
    }

    .pinkSphere {
        width: 19.06px;
        height: 19.06px;
        top: 88px;
        right: 124.12px;
    }

    .lightBlueSphere_small {
        width: 9.1px;
        height: 9.2px;
        top: 92.86px;
        right: 150.82px;
        z-index: -1;
    }

    .pinkCylinder {
        width: 95.64px;
        height: 50.98px;
        top: 200.52px;
        right: 103px;
    }

    .taper {
        width: 26.7px;
        height: 29.49px;
        top: 176.36px;
        right: 61px;
    }
}