.slider_item {
    border: 1px solid #67AEFC;
    border-radius: 5px;
    height: 389px;
    position: relative;
}
.container {
    max-width: 1391px;
}
.heading_and_description {
    display: inline-block;
    margin-left: 70px;
    margin-top: 85px;
}
.slider_img {
    position: absolute;
    right: 0px;
    bottom: 25%;
    width: 250px;
    height: 250px;
}
.slider_description {
    max-width: 300px;
}
.slider_heading {
    margin-bottom: 20px;
}
.prevArrow  {
    transform: rotate(90deg);
    margin-right: 30px;
}
.nextArrow {
    transform: rotate(-90deg);
}
.prevArrow, .nextArrow {
    background: #ffffff;
    border: 1px solid #67AEFC;
    border-radius: 10px;
    width: 60px;
    height: 60px;
}
.prevArrow:active{
    background-color: #67AEFC;
    color: #ffffff;
}
.nextArrow:active {
    background-color: #67AEFC;
    color: #ffffff;
}
/* ------------------------------------ Media rules 1024 - 1440 -------------------------------------------------*/
@media screen and (min-width:1024px) and (max-width:1439.5px) {
    .container {
        max-width: 900px;
    }
    .slider_img {
        right: 100px;
    }
    .heading_and_description {
        margin-left: 100px;
    }
    .slick-slider {
        width: 0px;
    }
}
/* ------------------------------------ Media rules 768 - 1024 -------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023.5px) {
    .container {
        max-width: 650px;
    }
    .prevArrow {
        display: none;
    }
    .nextArrow {
        display: none;
    }
}